body {
  background-color: #f4f4f4;
}

.color-grid {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.color-box {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.color1 {
  background-color: #ff44ff44;
}

.color2 {
  background-color: rgb(255, 152, 94);
}

.color3 {
  background-color: blue;
}

.color4 {
  background-color: hsl(153, 85%, 73%);
}

.color5 {
  background-color: yellow;
}
