body {
  background: white;
}

.feature-card-container {
  text-align: center;
  margin: 20px 0;
}

.feature-card {
  display: inline-block;
  width: 310px;
  height: 120px;
  background: whitesmoke;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border: 2px solid #ccc;
  padding: 20px;
  vertical-align: top;
}

.feature-card:hover {
  border-color: yellowgreen;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

input[type="checkbox"] {
  appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid #ccc;
  border-radius: 3px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 10px;
}

input[type="checkbox"]:checked {
  content: "✓";
  background-color: orange;
  color: rgb(36, 35, 32);
  border: 1px solid black;
}

input[type="checkbox"]:checked::after {
  content: "✓";
}
