* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  margin: auto;
}

.todo-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  background-color: aquamarine;
  justify-content: center;
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  margin-left: 100px;
  gap: 50px;
}

div {
  display: flex;
  gap: 10px;
}
input {
  padding: 10px;
  width: 200px;
  border: none;
  border-radius: 5px;
}
button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}
